
<form name="test" action="/users" method="post">
  <input type="text" name="user[xxx]" placeholder="usrname">
  <input type="text" name="user[yyy]" placeholder="usrname">
  <input type="text" name="user[zzz]" placeholder="usrname">
  <button>submit</button>
</form>