          </div>
          <div class="ui inverted vertical footer segment form-page">
            <div class="ui container">RND Athens Greece - Please contact the RND guys for any issues.</div>
          </div>
      </div>
      <script>
          $('#toggle').on('click',function(){
              $('.ui.sidebar').sidebar('toggle');
          });

          $('#right-menu')
              .dropdown({
                  // you can use any ui transition
                  transition: 'drop'
              });
      </script>
    </body>
</html>