<!-- Transaction Log-->
<div class="ui segment">
    <div class="required field">
        <label>Approval Reason</label>
        <textarea row="1">This announcement meets approval criteria</textarea>
    </div>
    <div class="two wide field">
        <label>Announcement Status</label>
        <select class="ui search selection dropdown new-dep" name="announcement[status]">
            <option value="Approved">Approved</option>
            <option value="Denied">Denied</option>
        </select>
    </div>
</div>