<!-- Transaction Log-->
<div class="ui segment">
    <div class="required field">
        <label>Approval Reason</label>
        <textarea row="1">This announcement meets approval criteria</textarea>
    </div>
    <div class="two wide field">
        <label>Announcement Status</label>
        <select class="ui search selection dropdown new-dep" name="announcement[status]">
            <option value="Approved"
                    <% if(announcement.status === 'Approved') {%>
                        selected="selected"
                    <% } %>
            >Approved</option>
            <option value="Disapprove"
                    <% if(announcement.status === 'Disapproved') {%>
                    selected="selected"
                    <% } %>
            >Disapprove</option>
            <option value="Pending"
                    <% if(announcement.status === 'Pending') {%>
                    selected="selected"
                    <% } %>
            >Pending</option>
        </select>
    </div>
</div>