<% include ../partials/header.ejs %>

<form class="ui form" action="/announcements" method="post">
    <h4 class="ui dividing header">Add new Announcement</h4>
    <div class="two fields">
        <div class="field">
            <input type="text" value="test" name="announcement[title]">
        </div>
        <div class="field">
            <input class="ui input" type="text" value="test test test" name="announcement[body]">
        </div>
    </div>

    <div class="two fields">
        <div class="field">
            <input class="ui input" type="text" value="test test test" name="announcement[imageUrl]">
        </div>
        <div class="field">
            <select class="ui search selection multiple dropdown" id="multi-select" name="announcement[tags]">
                <option value="">Tag</option>
                <% tags.forEach(function(tag){ %>
                    <option value="<%= tag._id%>"><%= tag.name%></option>
                <% })%>
            </select>
        </div>
        <div class="field">
            <select class="ui search selection dropdown" id="multi-select" name="announcement[department]">
                <option value="">Department</option>
                <% departments.forEach(function(dep){ %>
                <option value="<%= dep._id%>"><%= dep.name%></option>
                <% })%>
            </select>
        </div>
    </div>
    <div class="field">
        <button class="ui primary button">Submit</button>
    </div>
</form>

<script>
    $('#multi-select').dropdown();
</script>

<% include ../partials/header.ejs %>
