<% include ../partials/header.ejs%>

<h1> app image upload goes here</h1>
<form action="image" enctype="multipart/form-data" method="post">
    <input type="file" name="upload" multiple>
    <input type="submit" value="Upload">
</form>

<% include ../partials/footer.ejs%>