<% include ../partials/header.ejs%>
<style>
    .app-logo {
        width: 75px;
        display: inline!important;
    }
    .app-name {
        margin-top: 5px!important;
    }
    .hidden-app {
        margin-top: 0!important;
        padding-top: 4em!important;
        background: #F5F5F5!important;
    }
    .text.content h4 {
        margin: 0;
    }
</style>

<div class="ui container body margin-0">
    <div class="ui one column stackable grid padding-0 margin-0">
        <div class="ui sixteen wide column " style="padding:15px 0; margin-top:15px">
            <div class="ui three column stackable grid centered app-list">
                <% applications.forEach(function(application){ %>
                <a href="<%= application.url%>" target="_blank" class="four wide column">
                    <div class="ui fade reveal image">
                        <div class="ui raised very text center aligned segment fixsize visible content" style="width:100%">
                            <img class="app-logo" src="<%- application.imageUrl %>">
                            <h2 class="ui header app-name"><%- application.name %></h2>
                            <p></p>
                            <p></p>
                        </div>
                        <div class="ui raised very text center aligned segment fixsize hidden middle align content hidden-app" >
                            <p class="ui header" style="font-size: 8pt;"><%- application.description%></p>
                            <% if(application.isOnline) { %>
                            <button class="ui positive basic button">Online</button>
                            <% } else { %>
                            <button class="ui negative basic button">Offline</button>
                            <% }%>

                            <p></p>
                            <p></p>
                        </div>
                    </div>
                </a>
                <% }) %>
            </div>

        </div>
    </div>
</div>


<% include ../partials/footer.ejs%>