<% include ../partials/header.ejs %>

<form class="ui form" action="/users" method="post">
    <div class="ui segment">
        <header class="ui dividing header">
            <h3>Add New User</h3>
        </header>
        <div class="ui search field">
            <label>Email</label>
            <div class="ui icon input">
                <input type="email" name="user[email]" placeholder="Search Email Address..." class="prompt">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
        </div>
        <div class="field">
            <label>Name</label>
            <input type="text" name="user[name]"  placeholder="Robert Naccache" readonly="">
        </div>
        <div class="field">
            <label>Title</label>
            <input type="text" name="user[title]"  placeholder="IT Support Engineer" readonly="">
        </div>
        <div class="field">
            <label>Department</label>
            <input type="text" name="user[department]"  placeholder="ISD" readonly="">
        </div>
        <div class="field">
            <label>Country</label>
            <input type="text" name="user[country]"  placeholder="Greece" readonly="">
        </div>
        <div class="field">
            <label>Office</label>
            <input type="text" name="user[office]"  placeholder="MOA" readonly="">
        </div>
        <div class="field">
            <label>Roles</label>
            <select class="ui selection dropdown" name="user[roles]">
                <option value="">Tag</option>
                  <% roles.forEach(function(role){ %>
                <option value=<%- role.name%>><%= role.name %></option>
                  <%})%>
            </select>
        </div>
        <div class="actions">
            <button class="ui positive right labeled icon button" type="submit">
                Add
            </button>
        </div>
    </div>
</form>
<script>

    $('.ui.search')
        .search({
            debug: true,
            apiSettings: {
                url: '/users/find/{query}'
            },
            type: 'category',
            fields: {
                results: {},
                title:  "mail"
            },
            minCharacters: 3
        })
    ;
</script>
<% include ../partials/footer.ejs %>