
<div class="ui small modal">
  <i class="close icon"></i>
  <div class="ui content form">
    <form class="ui form" action="/users/new" method="get">
      <%=roles.forEach(function(role){})%>
    </form>
  </div>
</div>