/**
 * Created by RNaccache on 5/22/2017.
 */
<% include ../partials/header.ejs %>
<div class="ui container body segment form" style="margin-bottom: 50px; padding-top: 15px;">
    <table id="user" class="ui celled table" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>User Email</th>
            <th>Full Name</th>
            <th>Location</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                abc
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        <tr>
            <td>RNaccache@ccc.net</td>
            <td>Robert Naccache</td>
            <td>Greece</td>
            <td>ISD</td>
            <td>
                Cell
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<script>
    $(document).ready(function() {
        $('#user').DataTable();
    } );

</script>


<% include ../partials/footer.ejs %>